<a href="https://colab.research.google.com/github/oimartin/Older-and-Wiser/blob/geriatric_visits/geriatric_visits_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Injest

In [1]:
import pandas as pd
import requests

In [2]:
visits = pd.read_csv("https://raw.githubusercontent.com/oimartin/Older-and-Wiser/geriatric_visits/data/Geriatric_Medicine.csv")
zip_codes = pd.read_csv('https://raw.githubusercontent.com/oimartin/Older-and-Wiser/geriatric_visits/data/all_states_only_zip_codes.csv')

# EDA

## Geriatric Visits

In [3]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42959 entries, 0 to 42958
Data columns (total 15 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   zip_code                                              42959 non-null  int64
 1   min_medicare_pricing_for_new_patient                  42959 non-null  float64
 2   max_medicare_pricing_for_new_patient                  42959 non-null  float64
 3   mode_medicare_pricing_for_new_patient                 42959 non-null  float64
 4   min_copay_for_new_patient                             42959 non-null  float64
 5   max_copay_for_new_patient                             42959 non-null  float64
 6   mode_copay_for_new_patient                            42959 non-null  float64
 7   most_utilized_procedure_code_for_new_patient          42959 non-null  int64
 8   min_medicare_pricing_for_established_patient          42959 non-null  float64
 9   max_medicare_pricing_for_established_patient          42959 non-null  float64
 10  mode_medicare_pricing_for_established_patient         42959 non-null  float64
 11  min_copay_for_established_patient                     42959 non-null  float64
 12  max_copay_for_established_patient                     42959 non-null  float64
 13  mode_copay_for_established_patient                    42959 non-null  float64
 14  most_utilized_procedure_code_for_established_patient  42959 non-null  int64
dtypes: float64(12), int64(3)
memory usage: 4.9 MB

In [11]:
visits.iloc[:, 0] = visits['zip_code'].astype('string')
visits.iloc[:, 7] = visits.iloc[:, 7].astype('string')
visits.iloc[:, 14] = visits.iloc[:, 14].astype('string')

In [4]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42959 entries, 0 to 42958
Data columns (total 15 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   zip_code                                              42959 non-null  int64
 1   min_medicare_pricing_for_new_patient                  42959 non-null  float64
 2   max_medicare_pricing_for_new_patient                  42959 non-null  float64
 3   mode_medicare_pricing_for_new_patient                 42959 non-null  float64
 4   min_copay_for_new_patient                             42959 non-null  float64
 5   max_copay_for_new_patient                             42959 non-null  float64
 6   mode_copay_for_new_patient                            42959 non-null  float64
 7   most_utilized_procedure_code_for_new_patient          42959 non-null  int64
 8   min_medicare_pricing_for_established_patient          42959 non-null  float64
 9   max_medicare_pricing_for_established_patient          42959 non-null  float64
 10  mode_medicare_pricing_for_established_patient         42959 non-null  float64
 11  min_copay_for_established_patient                     42959 non-null  float64
 12  max_copay_for_established_patient                     42959 non-null  float64
 13  mode_copay_for_established_patient                    42959 non-null  float64
 14  most_utilized_procedure_code_for_established_patient  42959 non-null  int64
dtypes: float64(12), int64(3)
memory usage: 4.9 MB

In [5]:
distrib_df = visits.describe()
distrib_df

,zip_code,min_medicare_pricing_for_new_patient,max_medicare_pricing_for_new_patient,mode_medicare_pricing_for_new_patient,min_copay_for_new_patient,max_copay_for_new_patient,mode_copay_for_new_patient,most_utilized_procedure_code_for_new_patient,min_medicare_pricing_for_established_patient,max_medicare_pricing_for_established_patient,mode_medicare_pricing_for_established_patient,min_copay_for_established_patient,max_copay_for_established_patient,mode_copay_for_established_patient,most_utilized_procedure_code_for_established_patient
count,42959.000000,42959.000000,42959.000000,42959.000000,42959.000000,42959.000000,42959.000000,42959.0,42959.000000,42959.000000,42959.000000,42959.000000,42959.000000,42959.000000,42959.0
mean,49591.379245,58.238339,177.239252,177.239252,14.559585,44.309813,44.309813,99205.0,18.073701,144.793623,103.643492,4.518425,36.198406,25.910873,99214.0
std,27974.499582,4.045550,11.124559,11.124559,1.011387,2.781140,2.781140,0.0,1.459078,9.072558,6.628021,0.364770,2.268139,1.657005,0.0
min,210.000000,53.136000,163.672000,163.672000,13.284000,40.918000,40.918000,99205.0,16.256000,133.848000,95.608000,4.064000,33.462000,23.902000,99214.0
25%,26037.500000,55.312000,169.736000,169.736000,13.828000,42.434000,42.434000,99205.0,17.040000,138.800000,98.992000,4.260000,34.700000,24.748000,99214.0
50%,48815.000000,56.936000,174.056000,174.056000,14.234000,43.514000,43.514000,99205.0,17.616000,142.080000,101.496000,4.404000,35.520000,25.374000,99214.0
75%,73042.500000,59.432000,180.408000,180.408000,14.858000,45.102000,45.102000,99205.0,18.544000,147.312000,105.648000,4.636000,36.828000,26.412000,99214.0
max,99950.000000,74.816000,233.632000,233.632000,18.704000,58.408000,58.408000,99205.0,23.768000,190.744000,135.848000,5.942000,47.686000,33.962000,99214.0

In [14]:
print("most_utilized_procedure_code_for_new_patient")
display(visits.iloc[:, 7].value_counts())
print("most_utilized_procedure_code_for_established_patient")
display(visits.iloc[:, 14].value_counts())

most_utilized_procedure_code_for_new_patient

99205    42959
Name: most_utilized_procedure_code_for_new_patient, dtype: Int64

most_utilized_procedure_code_for_established_patient

99214    42959
Name: most_utilized_procedure_code_for_established_patient, dtype: Int64

In [15]:
visits.nunique()

zip_code                                                42959
min_medicare_pricing_for_new_patient                       95
max_medicare_pricing_for_new_patient                       96
mode_medicare_pricing_for_new_patient                      96
min_copay_for_new_patient                                  95
max_copay_for_new_patient                                  96
mode_copay_for_new_patient                                 96
most_utilized_procedure_code_for_new_patient                1
min_medicare_pricing_for_established_patient               90
max_medicare_pricing_for_established_patient               96
mode_medicare_pricing_for_established_patient              96
min_copay_for_established_patient                          90
max_copay_for_established_patient                          96
mode_copay_for_established_patient                         96
most_utilized_procedure_code_for_established_patient        1
dtype: int64

99214: Established patient office visit, 30-39 minutes
<br>
99205: Typically 60 minutes, Comprehensive history, Comprehensive Examination, High complexity medical decision making

## Zip Codes

In [4]:
zip_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27695 entries, 0 to 27694
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATEFIPS  27695 non-null  int64
 1   STATE      27695 non-null  object
 2   ZIPCODE    27695 non-null  int64
dtypes: int64(2), object(1)
memory usage: 649.2+ KB

In [5]:
zip_codes.nunique()

STATEFIPS       51
STATE           51
ZIPCODE      27595
dtype: int64

In [8]:
zip_codes.head()

   STATEFIPS STATE  ZIPCODE
0          1    AL        0
1          1    AL    35004
2          1    AL    35005
3          1    AL    35006
4          1    AL    35007

In [8]:
clean_zip = zip_codes[(zip_codes['ZIPCODE'] !=0) &
                      (zip_codes['ZIPCODE'] !=99999)]
clean_zip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27593 entries, 1 to 27693
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATEFIPS  27593 non-null  int64
 1   STATE      27593 non-null  object
 2   ZIPCODE    27593 non-null  int64
dtypes: int64(2), object(1)
memory usage: 862.3+ KB

In [9]:
clean_zip.nunique()

STATEFIPS       51
STATE           51
ZIPCODE      27593
dtype: int64

In [26]:
clean_zip.iloc[:, 2] = clean_zip['ZIPCODE'].astype('string')
clean_zip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27644 entries, 1 to 27694
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATEFIPS  27644 non-null  int64
 1   STATE      27644 non-null  object
 2   ZIPCODE    27644 non-null  string
dtypes: int64(1), object(1), string(1)
memory usage: 863.9+ KB

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [10]:
clean_zip.describe()

          STATEFIPS       ZIPCODE
count  27593.000000  27593.000000
mean      29.669663  48856.241474
std       15.119769  27047.660765
min        1.000000   1001.000000
25%       18.000000  27105.000000
50%       29.000000  48845.000000
75%       42.000000  70578.000000
max       56.000000  99901.000000

In [21]:
def find_start_end_zip(state):
  zipcodes_state = clean_zip[clean_zip['STATE'] == state]['ZIPCODE']
  min_zip = zipcodes_state.min()
  max_zip = zipcodes_state.max()

  return min_zip, max_zip

In [22]:
ME_min, ME_max = find_start_end_zip('ME')
display(ME_min, ME_max)

3901

4989

In [24]:
clean_zip.rename(columns={'ZIPCODE': 'zip_code'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

## Combine Visits and States/Zip Codes

In [25]:
visits.join(clean_zip, on='zip_code', how='left', )

ValueError: ignored

# Aggregate

In [16]:
visits.sort_values(by='min_copay_for_new_patient')

,zip_code,min_medicare_pricing_for_new_patient,max_medicare_pricing_for_new_patient,mode_medicare_pricing_for_new_patient,min_copay_for_new_patient,max_copay_for_new_patient,mode_copay_for_new_patient,most_utilized_procedure_code_for_new_patient,min_medicare_pricing_for_established_patient,max_medicare_pricing_for_established_patient,mode_medicare_pricing_for_established_patient,min_copay_for_established_patient,max_copay_for_established_patient,mode_copay_for_established_patient,most_utilized_procedure_code_for_established_patient
32170,72950,53.136,163.672,163.672,13.284,40.918,40.918,99205,16.264,133.848,95.608,4.066,33.462,23.902,99214
31710,72117,53.136,163.672,163.672,13.284,40.918,40.918,99205,16.264,133.848,95.608,4.066,33.462,23.902,99214
31711,72118,53.136,163.672,163.672,13.284,40.918,40.918,99205,16.264,133.848,95.608,4.066,33.462,23.902,99214
31712,72119,53.136,163.672,163.672,13.284,40.918,40.918,99205,16.264,133.848,95.608,4.066,33.462,23.902,99214
31713,72120,53.136,163.672,163.672,13.284,40.918,40.918,99205,16.264,133.848,95.608,4.066,33.462,23.902,99214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42771,99622,74.816,233.632,233.632,18.704,58.408,58.408,99205,22.376,190.744,135.848,5.594,47.686,33.962,99214
42770,99621,74.816,233.632,233.632,18.704,58.408,58.408,99205,22.376,190.744,135.848,5.594,47.686,33.962,99214
42769,99620,74.816,233.632,233.632,18.704,58.408,58.408,99205,22.376,190.744,135.848,5.594,47.686,33.962,99214
42775,99626,74.816,233.632,233.632,18.704,58.408,58.408,99205,22.376,190.744,135.848,5.594,47.686,33.962,99214
42958,99950,74.816,233.632,233.632,18.704,58.408,58.408,99205,22.376,190.744,135.848,5.594,47.686,33.962,99214