<a href="https://colab.research.google.com/github/oimartin/Older-and-Wiser/blob/medicare/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
total_area_19 = pd.read_csv('https://raw.githubusercontent.com/oimartin/Older-and-Wiser/medicare/data/2019_total_area_medicare_enrolled.csv')
total_area_20 = pd.read_csv('https://raw.githubusercontent.com/oimartin/Older-and-Wiser/medicare/data/2020_total_area_medicare_enrolled.csv')
total_demo_19 = pd.read_csv('https://raw.githubusercontent.com/oimartin/Older-and-Wiser/medicare/data/2019_total_demo_medicare_enrolled.csv')
total_demo_20 = pd.read_csv('https://raw.githubusercontent.com/oimartin/Older-and-Wiser/medicare/data/2020_total_demo_medicare_enrolled.csv')

In [3]:
area_totals = [total_area_19, total_area_20] 
demo_totals = [total_demo_19, total_demo_20]
[display(df.shape) for df in area_totals]
[display(df.shape) for df in demo_totals]

(242, 14)

(245, 14)

(223, 10)

(223, 10)

[None, None]

In [4]:
for df in area_totals:
  df.iloc[:, :-1].dropna(axis=0, inplace=True)
  # df.columns = df.iloc[0]
  display(df)

,MDCR ENROLL AB 24,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"Medicare Newly Enrolled Beneficiaries: Total,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Calendar Year 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Area of Residence,Part A and/or Part B Total,Part A and/or Part B Aged,Part A and/or Part B Disabled,Part A and Part B Total,Part A and Part B Aged,Part A and Part B Disabled,Part A Total,Part A Aged,Part A Disabled,Part B Total,Part B Aged,Part B Disabled,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,All Areas,"3,844,547","3,258,338","586,209","2,605,121","2,097,079","508,042","3,764,626","3,179,188","585,438","2,685,042","2,176,229","508,813",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,MDCR ENROLL AB 24,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"Medicare Newly Enrolled Beneficiaries: Total,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Calendar Year 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Area of Residence,Part A and/or Part B Total,Part A and/or Part B Aged,Part A and/or Part B Disabled,Part A and Part B Total,Part A and Part B Aged,Part A and Part B Disabled,Part A Total,Part A Aged,Part A Disabled,Part B Total,Part B Aged,Part B Disabled,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,All Areas,"3,793,542","3,230,917","562,625","2,611,370","2,116,258","495,112","3,730,050","3,167,973","562,077","2,674,862","2,179,202","495,660",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
total_area_19

,"Medicare Newly Enrolled Beneficiaries: Total, Aged, and Disabled Enrollees, by Area of Residence,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"Medicare Newly Enrolled Beneficiaries: Total,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Calendar Year 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Area of Residence,Part A and/or Part B Total,Part A and/or Part B Aged,Part A and/or Part B Disabled,Part A and Part B Total,Part A and Part B Aged,Part A and Part B Disabled,Part A Total,Part A Aged,Part A Disabled,Part B Total,Part B Aged,Part B Disabled,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,All Areas,"3,844,547","3,258,338","586,209","2,605,121","2,097,079","508,042","3,764,626","3,179,188","585,438","2,685,042","2,176,229","508,813",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
total_area_19.iloc[:,0]

0      Medicare Newly Enrolled Beneficiaries:  Total,...
1                                    Calendar Year 2019
2                                      Area of Residence
3                                                    NaN
4                                              All Areas
                             ...
237                                                  NaN
238                                                  NaN
239                                                  NaN
240                                                  NaN
241                                                  NaN
Name: MDCR ENROLL AB 24, Length: 242, dtype: object

In [9]:
total_area_19.iloc[:, :-1].dropna(axis=0)

,MDCR ENROLL AB 24,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
2,Area of Residence,Part A and/or Part B Total,Part A and/or Part B Aged,Part A and/or Part B Disabled,Part A and Part B Total,Part A and Part B Aged,Part A and Part B Disabled,Part A Total,Part A Aged,Part A Disabled,Part B Total,Part B Aged,Part B Disabled
4,All Areas,"3,844,547","3,258,338","586,209","2,605,121","2,097,079","508,042","3,764,626","3,179,188","585,438","2,685,042","2,176,229","508,813"
5,United States,"3,787,304","3,208,541","578,763","2,582,757","2,078,808","503,949","3,707,532","3,129,536","577,996","2,662,529","2,157,813","504,716"
7,Alabama,"59,821","46,012","13,809","44,011","31,790","12,221","59,025","45,228","13,797","44,807","32,574","12,233"
8,Alaska,"8,402","7,454",948,"5,548","4,697",851,"8,329","7,382",947,"5,621","4,769",852
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,American Samoa,342,212,130,222,125,97,342,212,130,222,125,97
63,Guam,"1,430","1,195",235,736,535,201,"1,420","1,185",235,746,545,201
64,Northern Mariana Islands,280,228,52,176,127,49,279,227,52,177,128,49
65,Foreign Countries and Other Outyling Areas,"23,126","22,624",502,"1,309","1,245",64,"23,112","22,610",502,"1,323","1,259",64
66,Unknown,22,22,0,11,11,0,21,21,0,12,12,0

In [12]:
[display(df) for df in area_totals]

,"Medicare Newly Enrolled Beneficiaries: Total, Aged, and Disabled Enrollees, by Area of Residence,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"Medicare Newly Enrolled Beneficiaries: Total,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Calendar Year 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Area of Residence,Part A and/or Part B Total,Part A and/or Part B Aged,Part A and/or Part B Disabled,Part A and Part B Total,Part A and Part B Aged,Part A and Part B Disabled,Part A Total,Part A Aged,Part A Disabled,Part B Total,Part B Aged,Part B Disabled,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,All Areas,"3,844,547","3,258,338","586,209","2,605,121","2,097,079","508,042","3,764,626","3,179,188","585,438","2,685,042","2,176,229","508,813",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,"Medicare Newly Enrolled Beneficiaries: Total, Aged, and Disabled Enrollees, by Area of Residence,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"Medicare Newly Enrolled Beneficiaries: Total,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Calendar Year 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Area of Residence,Part A and/or Part B Total,Part A and/or Part B Aged,Part A and/or Part B Disabled,Part A and Part B Total,Part A and Part B Aged,Part A and Part B Disabled,Part A Total,Part A Aged,Part A Disabled,Part B Total,Part B Aged,Part B Disabled,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,All Areas,"3,793,542","3,230,917","562,625","2,611,370","2,116,258","495,112","3,730,050","3,167,973","562,077","2,674,862","2,179,202","495,660",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

[None, None]